body {
  background-color: hsl(197, 37%, 8%);
  /* rgb(45, 52, 58); */
  text-align: center;
  color: white;
}

#App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 600px;
}

.Area {
  margin: 7px;
  padding: 10px;
  border: 7.5px double hsl(197, 20%, 70%);
  /* #0b2c42; */
  border-radius: 10px 10px 10px 10px;
  background-color: #355959;
  /* rgb(138, 166, 192); */
}

#Header {
  padding: 0px;
  grid-column: 1 / span 2;
  border-radius: 35px 35px 10px 10px;
}

#control {
  grid-row: 2 / span 2;
  text-align: justify;
  display: grid;
  grid-template-rows: auto auto;
}
#Text {
  padding: 10;
  padding-right: 12px;
}
#choices {
  display: grid;
  grid-template-columns: auto auto auto;
}

#Stats {
  list-style-type: none;
  text-align: left;
  padding-left: 30px;
}

#Footer {
  grid-column: 1 / span 2;
  border-radius: 10px 10px 35px 35px;
  text-align: end;
  padding-right: 10px;
}

button {
  background-color: rgb(174, 185, 196);
  border-width: 0px;
  border-radius: 30px;
  border-color: black;
  height: 2.5em;
  margin: 5px;
}
